.card {
    --background:#FFFFFF;
    --text:black;
    box-shadow:0 0 2rem -1rem rgba(0,0,0,.05);
    &:hover {
        box-shadow: 0 1px 20px #0e49eb;
        cursor: pointer;
    }
    .multi-button {
        z-index:0;
        position: absolute;
        top:1.25rem;
        left:1.25rem;
        border-radius:100%;
        width:0rem;
        height:0rem;
        transform: translate(-50%, -50%);
        transition: .25s cubic-bezier(0.25, 0, 0, 1);
        button {
            display: grid;
            place-items: center;
            position: absolute;
            width:2rem;
            height:2rem;
            border:none;
            border-radius:100%;
            background:var(--background);
            color:var(--text);
            transform: translate(-50%, -50%);
            cursor: pointer;
            transition: .25s cubic-bezier(0.25, 0, 0, 1);
            box-shadow:0 0 2rem -1rem rgba(0,0,0,.05);
            &:hover {
                //background:var(--text);
                background: #3b88df;
                color:var(--background);
                box-shadow:0 0 2rem -1rem rgba(0,0,0,.05);
            } 
        }
    }

}