<div class="grid-header">
  <div class="name ms-2 me-auto">Your Team</div>
  <div class="details ms-2 me-auto">
    <div class="name"*ngIf="loged && user !== null">{{user.email}}</div>
  </div>
  <div *ngIf="heros.length != 0" class="ms-2 me-auto">
    <div class="fw-bold">average weight</div>
    <span class="badge bg-primary rounded-pill"> {{average_weight}} Kg </span>
  </div>
 
  <div class="ms-2 me-auto">
    <div class="fw-bold">average height</div>
    <span class="badge bg-primary rounded-pill"> {{average_height}} Cm </span>
  </div>
  
</div>