<div class="container-resumen">
    <div class="cards">
      <div class="card">
        <h3>Your Team</h3>
        <div>
          <div class="details">
            <div class="name"*ngIf="loged && user !== null">{{user.email}}</div>
          </div>
          <ol *ngIf="heros.length != 0" class="list-group">
            <li class="list-group-item d-flex justify-content-between align-items-start">
              <div class="ms-2 me-auto">
                <div class="fw-bold">average weight</div>

              </div>
              <span class="badge bg-primary rounded-pill"> {{average_weight}} Kg </span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-start">
              <div class="ms-2 me-auto">
                <div class="fw-bold">average height</div>

              </div>
              <span class="badge bg-primary rounded-pill"> {{average_height}} Cm </span>
            </li>
          </ol>
        </div>
      </div>
    </div>
  </div>
