<header>
  <div>
     <app-card-resumen [user]="user" [loged]="loged"></app-card-resumen>
  </div>
</header>

<div class="grid-in">
  <div class="container" *ngIf="heros.length != 0">
    <input type="radio" name="dot" id="one">
    <input *ngIf="heros.length > 3" type="radio" name="dot" id="two">
    <div class="main-card">

      <div class="cards">
        <app-card-team *ngFor="let hero of heros.slice(0,3)" [hero]="hero"></app-card-team>
      </div>

      <div *ngIf="heros.length > 3" class="cards">
        <app-card-team *ngFor="let hero of heros.slice(3,6)" [hero]="hero"></app-card-team>
      </div>

      <div *ngIf="heros.length == 0" class="container-resumen">
        <div class="cards">
          <div class="card">
            <div class="content">
              <h3>Nothing to show,
                search and add heroes or villains to your team</h3>
            </div>
          </div>
        </div>
      </div>

    </div>
    <div *ngIf="heros.length != 0 && heros.length > 3" class="button">
      <label for="one" class="active one"></label>
      <label for="two" class="two"></label>
    </div>
  </div>

</div>