<header>
  <div class="grid-header">
    <div class="name">Your Team</div>
  </div>
</header>

<div class="grid-in">
  <div class="container" *ngIf="heros.length != 0">
    <input type="radio" name="dot" id="one">
    <input type="radio" name="dot" id="two">
    <div class="main-card">

      <div class="cards">
        <div class="card" *ngFor="let hero of heros; let i = index">
          <div class="content">
            <div class="img">
              <img src="{{hero.image.url}}" alt="" />
            </div>
            <div class="details">
              <div class="name">{{hero.name}}</div>
              <div class="job">{{hero.biography["full-name"]}}</div>
              <div class="name">Total Power States:</div>
              <p>Alignment: {{hero.biography.alignment}}</p>
              <span class="badge bg-primary rounded-pill"> {{heroTotalPowerStates(hero.id)}} </span>
            </div>
            <div class="multi-button">
              <button class="fas fa-heart" [routerLink]="['/hero-details', hero.id]">
                <img as="image" width="21" height="21" src="../../../assets/icons/three-dots-vertical.svg" alt="add" />
              </button>
            </div>
            <div class="multi-button-more">
              <button class="fas fa-heart" (click)="delteTeam(hero)">
                <img as="image" width="21" height="21" src="../../../assets/icons/trash.svg" alt="add" />
              </button>
            </div>
          </div>
        </div>
      </div>


      <div *ngIf="heros.length == 0" class="container-resumen">
        <div class="cards">
          <div class="card">
            <div class="content">
              <h3>Nothing to show,
                search and add heroes or villains to your team</h3>
            </div>
          </div>
        </div>
      </div>

    </div>
    <div *ngIf="heros.length != 0" class="button">
      <label for="one" class="active one"></label>
      <label for="two" class="two"></label>
    </div>
  </div>

  <div class="container-resumen">
    <div class="cards">
      <div class="card">
        <h3>Your Team</h3>
        <div>
<!--           <div class="details">
            <div class="name"*ngIf="loged && user !== null">{{user.email}}</div>
          </div> -->
          <ol *ngIf="heros.length != 0" class="list-group">
            <li class="list-group-item d-flex justify-content-between align-items-start">
              <div class="ms-2 me-auto">
                <div class="fw-bold">average weight</div>

              </div>
              <span class="badge bg-primary rounded-pill"> {{average_weight}} Kg </span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-start">
              <div class="ms-2 me-auto">
                <div class="fw-bold">average height</div>

              </div>
              <span class="badge bg-primary rounded-pill"> {{average_height}} Cm </span>
            </li>
          </ol>
        </div>
      </div>
    </div>
  </div>

</div>